<div class="row m-0">
  <div
    class="col-sm-12 col-md-2 col-lg-2 p-0 d-flex justify-content-center align-items-center text-primary"
  >
    <div class="row m-0">
      <div class="col-sm-6 col-md-12 col-lg-12 p-0 text-center text-primary">
        {{ flight.name }}
      </div>
      <div class="col-sm-6 col-md-12 col-lg-12 p-0 text-center">
        <span class="small text-muted">{{ flight.flightNo }}</span>
      </div>
    </div>
  </div>
  <div
    class="col-sm-12 col-md-2 col-lg-2 p-0 d-flex justify-content-center align-items-center"
  >
    <div class="row m-0">
      <div
        class="col-sm-6 col-md-12 col-lg-12 p-0 text-black-50 font-weight-bold text-center"
      >
        {{ flight.departureTime | twoDigit }}
      </div>
      <div class="col-sm-6 col-md-12 col-lg-12 p-0 text-center">
        <span class="small text-muted">{{ flight.origin | cityName }}</span>
      </div>
    </div>
  </div>
  <div
    class="col-sm-12 col-md-2 col-lg-2 p-0 d-flex justify-content-center align-items-center"
  >
    <div class="row m-0">
      <div
        class="col-sm-6 col-md-12 col-lg-12 p-0 text-black-50 font-weight-bold text-center"
      >
        {{ flight.arrivalTime | twoDigit }}
      </div>
      <div class="col-sm-6 col-md-12 col-lg-12 p-0 text-center">
        <span class="small text-muted">{{
          flight.destination | cityName
        }}</span>
      </div>
    </div>
  </div>
  <div
    class="col-sm-12 col-md-2 col-lg-2 p-0 d-flex justify-content-center align-items-center"
  >
    <div class="row m-0">
      <div class="col-sm-6 col-md-12 col-lg-12 p-0 text-info text-center">
        {{ flight.duration | date: "hh:mm" }}
      </div>
      <div class="col-sm-6 col-md-12 col-lg-12 p-0 text-center">
        <span class="small text-muted">Non Stop</span>
      </div>
    </div>
  </div>
  <div
    class="col-sm-12 col-md-2 col-lg-2 p-0 d-flex justify-content-center align-items-center"
  >
    <span class="text-danger" *ngIf="mode === 'single'">
      {{ flight.price * passengers | currency: "INR" }}
    </span>
  </div>
  <div
    class="col-sm-12 col-md-2 col-lg-2 p-0 d-flex justify-content-center align-items-center"
  >
    <button class="btn btn-primary" *ngIf="mode === 'single'" (click)="bookFlight()">Book</button>
  </div>
</div>
