@import "./external_libs/bootstrap/bootstrap.scss";

.cursor {
  &-pointer {
    cursor: pointer;
  }
  &-not-allowed {
    cursor: not-allowed;
  }
}

.user-select {
  &-none {
    user-select: none;
  }
}
