@import "./external_libs/bootstrap/bootstrap.scss";

.cursor {
  &-pointer {
    cursor: pointer;
  }
  &-not-allowed {
    cursor: not-allowed;
  }
}

.user-select {
  &-none {
    user-select: none;
  }
}

.mat-accordion--flat {
  .mat-expansion-panel {
    &.mat-expanded {
      margin: 0.5rem -0.05rem;
    }
    box-shadow: none;
    .mat-expansion-panel-body {
      padding: 0;
    }
  }
}

.flight-slider {
  width: 100%;
  max-width: 400px;
}
