<h4 class="bg-light p-3 text-secondary border border-bottom">
  Flight Search App
</h4>
<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-4 col-lg-3">
      <!-- <mat-tab-group mat-align-tabs="center">
        <mat-tab label="One Way">
          <div class="p-4">
            Content 1
          </div>
        </mat-tab>
        <mat-tab label="Return">
          <div class="p-4">
            Content 2
          </div>
        </mat-tab>
      </mat-tab-group> -->
      <div class="card">
        <ul class="nav nav-tabs">
          <li class="nav-item cursor-pointer">
            <a
              class="nav-link"
              [class.active]="flightType === 'ONE_WAY'"
              (click)="changeFlightType('ONE_WAY')"
              >One Way</a
            >
          </li>
          <li class="nav-item cursor-pointer">
            <a
              class="nav-link"
              [class.active]="flightType === 'RETURN'"
              (click)="changeFlightType('RETURN')"
              >Return</a
            >
          </li>
        </ul>
        <div class="card-body">
          <form [formGroup]="flightSearchForm">
            <div class="form-group">
              <label for="flight-origin" class="text-secondary"
                >Enter Origin City</label
              >
              <select
                class="custom-select"
                id="flight-origin"
                formControlName="origin"
                [class.is-invalid]="
                  flightSearchForm.controls.origin.touched &&
                  flightSearchForm.controls.origin.errors
                "
              >
                <option [value]="origin" *ngFor="let origin of flightOrigins">
                  {{ origin }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="flight-destination" class="text-secondary"
                >Enter Destination City</label
              >
              <select
                class="custom-select"
                id="flight-destination"
                formControlName="destination"
                [class.is-invalid]="
                  flightSearchForm.controls.destination.touched &&
                  flightSearchForm.controls.destination.errors
                "
              >
                <option
                  [value]="destination"
                  *ngFor="let destination of flightDestinations"
                >
                  {{ destination }}
                </option>
              </select>
            </div>
            <app-date-picker formControlName="departure"
              >Departure Date</app-date-picker
            >
            <app-date-picker formControlName="return" *ngIf="flightType === 'RETURN'"
              >Return Date</app-date-picker
            >
            <div class="form-group">
              <label for="flight-passengers" class="text-secondary"
                >Passengers (1-10)</label
              >
              <input
                type="number"
                class="form-control"
                id="flight-passengers"
                formControlName="passengers"
                min="1"
                [class.is-invalid]="
                  flightSearchForm.controls.passengers.touched &&
                  flightSearchForm.controls.passengers.errors
                "
                max="10"
              />
            </div>
          </form>
          <p class="text-danger">{{ formErrorMessage }}&nbsp;</p>
          <button type="button" class="btn btn-primary my-2 mx-auto" (click)="searchFlights()">
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-8 col-lg-9">
      <div class="row" *ngIf="flightSearchData">
        <div
          [ngClass]="{
            'col-12': flightType === 'ONE_WAY',
            'col-sm-12 col-md-6 col-lg-6': flightType === 'RETURN'
          }"
        >
          <app-flight-list
            [date]="flightSearchData.departure"
            [origin]="flightSearchData.origin"
            [destination]="flightSearchData.destination"
            [flightList]="flightList"
            [passengers]="flightSearchData.passengers"
          ></app-flight-list>
        </div>
        <div
          class="col-sm-12 col-md-6 col-lg-6"
          *ngIf="flightType === 'RETURN'"
        >
          <app-flight-list
            [date]="flightSearchData.return"
            [origin]="flightSearchData.destination"
            [destination]="flightSearchData.origin"
            [flightList]="flightList"
            [passengers]="flightSearchData.passengers"
          ></app-flight-list>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
<footer
  class="fixed-bottom p-1 text-center text-muted border border-top bg-light"
>
  &copy; Aditya Mudgerikar &bull; 2020
</footer>
